<article class="colorscheme--orange">
    <section class="section section--cs-white">
        <h1 class="headline">About Me</h1>
    </section>
    <section class="section section--cs-light">
        <h2 class="headline">About the author</h2>
    </section>
    <section class="section section--cs-medium">
        <h2 class="headline">Press</h2>
        <div>
            <h3 class="headline">AIA Awards</h3>
        </div>
        <div>
            <h3 class="headline">ANFA Conference</h3>
        </div>
    </section>
</article>