<article class="colorscheme colorscheme--yellow">
    <section class="section section--cs-white">
        <h1 class="headline">The Toolkit</h1>
    </section>
    <section class="section section--cs-light">
        <h2 class="headline">What it is/intent</h2>
    </section>
    <section class="section section--cs-medium">
        <h2 class="headline">How to use it</h2>
    </section>
    <section class="section section--cs-white">
        <h2 class="headline">Introduction</h2>
    </section>
    <section class="section section--cs-light">
        <h2 class="headline">Advocate + Educate</h2>
    </section>
    <section class="section section--cs-medium">
        <h2 class="headline">Project Integration</h2>
    </section>
    <section class="section section--cs-white">
        <h2 class="headline">Design Strategies</h2>
    </section>
    <section class="section section--cs-light">
        <h2 class="headline">Conclusion</h2>
    </section>
</article>