<article class="colorscheme--blue">
    <section class="section section--cs-white">
        <h1 class="headline">The Project/Process</h1>
    </section>
    <section class="section section--cs-light">
        <h2 class="headline">Inspiration for the project</h2>
    </section>
    <section class="section section--cs-medium">
        <h2 class="headline">Research Framework</h2>
    </section>
    <section class="section">
        <h2 class="headline">Research Methodology</h2>
    </section>
</article>