<article class="colorscheme colorscheme--purple">
    <section class="section">
        <h1 class="headline">Building Creative Schools</h1>
        <p class="headline">Learning Environments for Creativity</p>
    </section>
    <section class="section section--cs-light">
        <h2 class="headline">About the Project</h2>
    </section>
    <aside class="section section--cs-medium">
        <app-carousel></app-carousel>
    </aside>
    <section class="section section--cs-white">

    </section>
    <section class="section section--cs-light">
        
    </section>
    <section class="section section--cs-medium">
        <app-contact></app-contact>
    </section>
</article>
